*{
    font-family: 'Karla', sans-serif;
}

body {
    margin: 0 0;
    background-color: #F2F2F2;
}

.grid-container {
    max-width: 635px;
    display: grid;
    margin: 162px auto;
}

.grid-container .grid-item1 {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    padding: 40px 40px;
}

.grid-container .grid-container2 {
    display: grid;
}

.grid-container2 .grid-item2 {
    width: 318px;
    background-color: #2AB3B1;
    border-radius: 0 0 0 8px;
}

.grid-container2 .grid-item3 {
    grid-column: 2;
    width: 318px;
    background-color: #4ABFBD;
    border-radius: 0 0 8px 0;
}

.grid-container2 .grid-item3 ul li {
    list-style: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    opacity: 0.75;
    line-height: 20px;
}

.grid-container2 .grid-item3 .grid-item3-content ul {
    padding: 0 0;
}

.grid-container .grid-item2 .grid-item2-content {
    padding: 40px 40px;
}

.grid-container .grid-item3 .grid-item3-content {
    padding: 40px 40px;
}

.grid-container .grid-item1 h1 {
    font-weight: 700;
    color: #2AB3B1;
    margin: 0 0 20px 0;
    font-size: 24px;
}

.grid-container .grid-item1 h2 {
    font-weight: 700;
    color: #C0DF33;
    font-size: 18px;
}

.grid-container .grid-item1 p {
    color: #9AA7BE;
    font-size: 16px;
    line-height: 26px;
}

.grid-container2 .grid-item2-content h2 {
    color: #FFFFFF;
    margin: 0 0 20px 0;
    font-size: 18px;
    font-weight: 700;
}

.grid-container2 .grid-item2-content .cost {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: -0.4px;
}

.grid-container2 .grid-item2-content .duration {
    color: #e5eff5;
    opacity: 0.5;
}

.grid-container2 .grid-item2-content p {
    color: #FFFFFF;
    font-size: 16px;
}

.grid-container2 .grid-item2-content .plan {
    margin: 0 0 8px 0;
}

.grid-container2 .grid-item2-content .plan-describe {
    margin: 0 0 26px 0;
}

.grid-container2 .grid-item2-content .signup {
    background-color: #C0DF33;
    border: solid #C0DF33;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px 88px;
    border-radius: 5px;
    font-weight: 700;
}


.grid-container2 .grid-item3-content h2 {
    margin: 0 0 20px 0;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
}

.grid-container2 .grid-item2 .grid-item2-content .signup:hover {
    background-color: #d6ea7b;
    border: solid #d6ea7b;
    cursor: pointer;
}

